.header {
    grid-area: header;
    background-color: green;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-menu, .header-nav-config {
    display: flex;
    justify-content: space-evenly;
    width: max-content;
    margin: auto;
    gap: 16px;
}

a { 
    padding: 8px; 
}

a:hover { 
    text-decoration: underline; 
}