# --- TESTES DE CARGA (K6) ---
K6Testes/

# --- ANGULAR (Raiz) ---
/node_modules
/dist
/tmp
/out-tsc
/bazel-out
/.angular/
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/
vite/
.vite/
dist/

# --- IDEs & EDITORES ---
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# --- SISTEMA ---
.DS_Store
Thumbs.db
