.card-login{
    background-color: #228B22;
    margin: 80px auto;
    width: 30%;
    height: 340px;
    text-align: center;
    border-radius: 10px;
}

h3{
    font-size: 2em;
    margin-bottom: 32px;
    padding: 10px;
}

input{
    width: 70%;
    height: 50px;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    outline: none;
}

button{
    padding: 15px 25px; 
    margin: 5px;
    margin-top: 24px; 
    cursor: pointer; 
    border: none; 
    border-radius: 5px; 
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
}

button:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

.btn-login{
    background-color: #ccc; 
    color: #333; 
}

.btn-register{
    background-color: #50C878; 
    color: white;    
}