<main class="main-content">
    <section class="section">

        <article class="content card-cartao">
            <p>Cartões</p>
            <p>Peça seu cartão</p>
            <button (click)="solicitarNovoCartao()" class="btn-novo-cartao">
            Novo cartão
        </button>
        </article>

        <article class="content card-pagamento">
            <p>Meios de pagamento</p>

            <div class="item-saldo">
                <div class="cartao-icone">💰</div>
                <div class="cartao-info">
                    <p class="cartao-tipo">Saldo PaperBank</p>
            
                    <p *ngIf="pb.carregandoSaldo" style="opacity: 0.5;">Atualizando...</p>

                    <p *ngIf="!pb.carregandoSaldo" class="cartao-valor">
                        {{ pb.saldo | currency:'BRL' }}
                    </p>
            
                    <p class="cartao-validade">Disponível para uso imediato</p>
                </div>
            </div>

        <hr class="divisor-pagamento" *ngIf="meiosDePagamento.length > 0">

            <p *ngIf="meiosDePagamento.length === 0" style="opacity: 0.7; margin-top: 16px;">
            Nenhum cartão cadastrado.
        </p>
            <div *ngFor="let cartao of meiosDePagamento" class="cartao-item">
            <div class="cartao-icone">💳</div>
            <div class="cartao-info">
               <p class="cartao-tipo">
                {{ cartao.tipo }} PaperBank
                </p>
        
                <p class="cartao-numero">
                {{ cartao.numeroCartao || cartao.numero_cartao }}
                </p>
        
                <p class="cartao-validade">
                Val: {{ cartao.validade | date:'MM/yy' }}
                </p>
            </div>
        </div>

        </article>
    </section>

    <section class="section">
        <article class="content card-contatos">
            <p>Contatos Recentes</p>
            
            <p *ngIf="meusContatos.length === 0" style="opacity: 0.7; font-size: 0.9rem;">
                Faça um PIX para adicionar contatos aqui.
            </p>

            <div class="lista-contatos-scroll">
                <div *ngFor="let contato of meusContatos" class="contato-item">
                    <div class="contato-avatar">
                        {{ contato.inicial }}
                    </div>
                    
                    <div class="contato-info">
                        <p class="contato-nome">{{ contato.nome }}</p>
                        <p class="contato-email">{{ contato.email }}</p>
                    </div>
                </div>
            </div>
        </article>
        
    </section>
</main>
