<div class="page-container">

    <section class="page-header">
        <h1>Ajuda</h1>
        <br>
        <p>Suporte rápido e direto para sua conta PaperBank.</p>
    </section>

    <section class="cards-container">

        <div class="card">
            <p>Recuperação de Acesso</p>
            <p>Redefina sua senha rapidamente de forma segura.</p>
            <button class="btn" (click)="abrirModal()">Redefinir senha</button>
        </div>

        <div class="card">
            <p>Prazos de Atendimento</p>
            <ul class="list">
                <li>Suporte geral: 24–48h</li>
                <li>Financeiro: até 72h</li>
                <li>Fraudes: imediato</li>
            </ul>
        </div>

        <div class="card">
            <p>Encerrar Relacionamento</p>
            <p>Exclua sua conta e todos os dados associados permanentemente.</p>
            
            <button class="btn btn-danger" (click)="abrirModalExcluir()">Excluir conta</button>
        </div>

    </section>

</div>

<div class="modal-overlay" *ngIf="modalAberto">
    <div class="modal-content">
        <h3>Alterar Senha</h3>
        
        <label>Senha Atual</label>
        <input type="password" [(ngModel)]="senhaAtual" placeholder="Digite sua senha atual">

        <label>Nova Senha</label>
        <input type="password" [(ngModel)]="novaSenha" placeholder="Digite a nova senha">

        <label>Confirmar Nova Senha</label>
        <input type="password" [(ngModel)]="confirmacao" placeholder="Confirme a nova senha">

        <div class="modal-actions">
            <button type="button" class="btn btn-cancel" (click)="fecharModal()">Cancelar</button>
            
            <button 
                type="button" 
                class="btn btn-confirm" 
                (click)="enviarRedefinicao()"
                [disabled]="carregando"
                [style.opacity]="carregando ? '0.5' : '1'">
                
                {{ carregando ? 'Salvando...' : 'Salvar' }}
            </button>
        </div>
    </div>
</div>

<div class="modal-overlay" *ngIf="feedbackAberto">
    <div class="modal-content feedback-box" [class.erro-box]="feedbackTipo === 'erro'">
        
        <div class="feedback-icon">
            {{ feedbackTipo === 'sucesso' ? '✅' : '❌' }}
        </div>

        <h3>{{ feedbackTipo === 'sucesso' ? 'Sucesso!' : 'Atenção' }}</h3>
        
        <p>{{ feedbackMensagem }}</p>

        <div class="modal-actions centered">
            <button class="btn btn-confirm" (click)="fecharFeedback()">Entendido</button>
        </div>
    </div>
</div>

<div class="modal-overlay" *ngIf="modalExcluirAberto">
    <div class="modal-content">
        <h3 style="color: #d9534f;">⚠️ Excluir Conta</h3>
        
        <p style="color: #666; margin-bottom: 20px;">
            Tem certeza? Essa ação apagará seu histórico, chaves PIX e saldo. 
            <strong>Não pode ser desfeito.</strong>
        </p>
        
        <label>Confirme sua senha atual:</label>
        <input type="password" [(ngModel)]="senhaExclusao" placeholder="Sua senha para confirmar">

        <div class="modal-actions">
            <button class="btn btn-cancel" (click)="fecharModalExcluir()">Cancelar</button>
            <button class="btn btn-danger" (click)="confirmarExclusaoConta()">Confirmar Exclusão</button>
        </div>
    </div>
</div>